/* Animations */
@keyframes arrow {
	from {margin-bottom:-10px;}
	to {margin-bottom:0;}
}

body {
	color: #212326;
	text-align: center;
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
}

p {
	line-height: 32px;
	margin-bottom: 30px;
}
h1, h2 {
	margin: 0;
}
h2 {
	font-size: 50px;
}

/* Header */
header, html, body {
	height: 100%;
}
header {
	background: url('../img/header.jpg') no-repeat;
	background-size: cover;
}
header:before, .tips-tricks:before, .about-us:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.3);
}
header > a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 25px;
	display: inline-block;
	position: relative;
}
header h1 {
	font-size: 70px;
	margin-bottom: 75px;
}
.intro:after {
	content: url('../img/arrow.png');
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-animation: arrow .5s ease-in-out infinite alternate;
	animation: arrow .5s ease-in-out infinite alternate;
}
.intro, .tips-tricks, .about-us, .tips-tricks a, .about-us a {
	color: white;
}
/* Sections */
.key-facts, .country-information, footer {
	width: 1012px;
	margin: 0 auto;
	padding: 100px 0;
}
.tips-tricks, .about-us {
	height: 910px;
	background-size: cover;
	position: relative;
}
.tips-tricks div, .about-us div, .intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 850px;
}

/* Key Facts */
.key-facts h2 {
	padding-bottom: 50px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 50px;
}
.key-facts div {
	display: inline-block;
	vertical-align: top;
	width: 314px;
	height: 440px;
	position: relative;
}
.key-facts div+div {
	margin-left: 35px;
}
.key-facts img {
	width: 100%;
}
.key-facts img[src="img/cocktail.jpg"] {
	height: 210px;
}
.key-facts a {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

/* Tips & Tricks */
.tips-tricks {
	background-image: url('../img/train.jpg');
}
/* Country information */
.country-information div, .country-information ul {
	display: inline-block;
	vertical-align: top;
}
.country-information div {
	width: 546px;
}
.country-information img {
	width: 100%;
}
.country-information p {
	color: #aaa;
	width: 60%;
	margin: 20px auto;
}
.country-information ul {
	width: 466px;
	box-sizing: border-box;
	text-align: left;
	-webkit-columns: 3 130px;
	-moz-columns: 3 130px;
	columns: 3 130px;
}
.country-information li {
	display: block;
	line-height: 40px;
}
.country-information li:before {
	content : '• ';
	margin-right: 5px;
}
.country-information a {
	color: #333;
}
/* About us */
.about-us {
	background-image: url('../img/barel.jpg');
}
/* Footer */
footer nav {
	text-transform: uppercase;
	margin-bottom: 20px;
}
footer a {
	color: #333;
}
footer nav a {
	display: inline-block;
}
footer nav a+a {
	margin-left: 20px;
}
footer small a {
	padding-bottom: 5px;
	border-bottom: 1px solid #333;
}
footer small a:hover {
	border-bottom: 2px solid #333;
}
/* Call to action */
.bt {
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 26px;
	border-width: 2px;
	border-style: solid;
	letter-spacing: 2px;
	border-radius: 3px;
	transition:.3s all ease-in-out;
	font-size: 12px;
}
.light {
	border-color: #fff;
	color: #fff;
}
.light:hover {
	color: #212326;
	background: #fff;
}
.dark {
	border-color: #212326;
	color: #212326;
}
.dark:hover {
	color: #fff;
	background: #212326;
}
/* Navigation principale */

.main-nav {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	top: 0;
	left: 0;
	z-index: 1000;
	transform: scale(1.2);
	visibility: hidden;
	transition: .3s all ease-in-out;
}
.main-nav a {
	color: white;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;
	display: block;
	transition: .3s all ease-in;
	color: rgba(255,255,255,0);
}

.main-nav a+a {
	margin-top: 30px;
}
.main-nav div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.main-nav.active {
	visibility: visible;
	transform: scale(1);
	background: rgba(0,0,0,0.8);
}
.main-nav.active a {
	color: rgba(255,255,255,1);
}
.main-nav.active a:hover {
	color: rgba(92, 179, 190, 1);
}
/* Bouton de navigation */
.bt-menu div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bt-menu {
	width: 40px;
	height: 36px;
	background: #212326;
	cursor: pointer;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1001;
}
.bt-menu div, .bt-menu div:before, .bt-menu div:after {
	width: 22px;
	height: 2px;
	background: #fff;
	transition: .3s all ease-in-out;
}
.bt-menu div:before, .bt-menu div:after {
	content: '';
	position: absolute;
	display: block;
}
.bt-menu div:before {
	top: -5px;
}
.bt-menu div:after {
	bottom: -5px;
}
.bt-menu:hover div:before {
	top: 0;
}
.bt-menu:hover div:after {
	bottom: 0;
}
.bt-menu.active div {
	background: rgba(255,255,255,0);
}
.bt-menu.active div:before {
	top:0;
	transform: rotate(45deg);
}
.bt-menu.active div:after {
	bottom:0;
	transform: rotate(-45deg);
}
